# Some inbuilt function

In [21]:
len("Durgesh Soni") #len is a inbuilt function which gives the len of the character we have entered, here it has included space also

12

In [19]:
type("Durgesh")  #type is a inbuilt function which will give data type of the value

str

In [6]:
first_name = 'Durgesh'
last_name = 'Soni'

print("My first name is {} and my last name is {}".format(first_name,last_name)) 

#Here order of the formatting matters if we change of formatting for firsr_name and last_name then assignment will also change

My first name is Durgesh and my last name is Soni

In [8]:
#Here we have changed the order of formatting 

print("My first name is {} and my last name is {}".format(last_name,first_name))

#as we see the assignment is also changed.

My first name is Soni and my last name is Durgesh

In [11]:
#Here we are doing something that we prevent the change of value even if we change the formating 

print("My first name is {first} and my last name is {last}".format(last=last_name,first=first_name))

My first name is Durgesh and my last name is Soni

# Boolean

    # Boolean function in pyhton
    # Boolean vlaues are the two constant object true and False
    # In numerical contect they behave like integer 0 and 1
    # The built in function bool() can be used to cast any value to a Boolean.

In [5]:
print (True, False)

True False

In [98]:
type(True)

bool

In [99]:
bool()

False

In [100]:
my_str = 'Durgesh Soni'

In [101]:
print(my_str.isalpha())

False

In [102]:
#### NOTE: Most of boolean function starts with "is", we can get all boolean when we write "is" and press

In [103]:
# TWO of the most important boolean function which does not start with "is" are demonsatred below:\

print(my_str.startswith('D'))

# Remember here "D" which we have given is case sensitive

print(my_str.endswith("D"))

True
False

In [104]:
my_str.isalpha()

False

#  Lists

    #List is the data structure in python which are mutable, changeable, ordered sequence of element 
    #Each value or element in the list are called item.
    #It can contain any element in side it, i.e alphabetic, alnumeric, strings, i.e elements can be of different data type
    #List are defined by having values in squre bracket []

In [105]:
type([]) # used to get the type of square braket[]

list

In [106]:
lst_eg = list() # list( is the function used to create empty list)

In [107]:
lst_eg = ["IBM", "Syntel", "Atos", "TCS", "Capita", 230, 666, 987, 210] 
#srings which we have given in list should be in quotes single or double.


print(lst_eg)

['IBM', 'Syntel', 'Atos', 'TCS', 'Capita', 230, 666, 987, 210]

In [108]:
#there are different function that we can apply on string"

len(lst_eg)  # len function will give number of element in a list

9

# There are some inbuilt function in list which are demonstrated below
# 1.  Append

In [109]:
# append is used to insert a element to a list at the end 

lst_eg.append('Amdocs')
lst_eg

['IBM', 'Syntel', 'Atos', 'TCS', 'Capita', 230, 666, 987, 210, 'Amdocs']

#  2. Insert

In [110]:
# insert is used to insert a element to a list in a specific oreder/sequence

lst_eg.insert(2,'Infosys')
lst_eg

['IBM',
 'Syntel',
 'Infosys',
 'Atos',
 'TCS',
 'Capita',
 230,
 666,
 987,
 210,
 'Amdocs']

In [111]:
lst_eg.append(['Wipro','L&T']) 
# this kind of append will add a new list inside your existing list and your list will become nested list

In [112]:
lst_eg

['IBM',
 'Syntel',
 'Infosys',
 'Atos',
 'TCS',
 'Capita',
 230,
 666,
 987,
 210,
 'Amdocs',
 ['Wipro', 'L&T']]

#  3. Extend

In [118]:
# In extend if we treid to add element to a list it not be added as nested list, what  we saw in case of append
# Will create a new list and try to exceute it by execute function

list1 = [1,2,3,4,5,6,7]

list1

[1, 2, 3, 4, 5, 6, 7]

In [119]:
list1.extend([0,9])
list1

[1, 2, 3, 4, 5, 6, 7, 0, 9]