# Some inbuilt function

In [21]:
len("Durgesh Soni") #len is a inbuilt function which gives the len of the character we have entered, here it has included space also

12

In [19]:
type("Durgesh")  #type is a inbuilt function which will give data type of the value

str

In [6]:
first_name = 'Durgesh'
last_name = 'Soni'

print("My first name is {} and my last name is {}".format(first_name,last_name)) 

#Here order of the formatting matters if we change of formatting for firsr_name and last_name then assignment will also change

My first name is Durgesh and my last name is Soni

In [8]:
#Here we have changed the order of formatting 

print("My first name is {} and my last name is {}".format(last_name,first_name))

#as we see the assignment is also changed.

My first name is Soni and my last name is Durgesh

In [11]:
#Here we are doing something that we prevent the change of value even if we change the formating 

print("My first name is {first} and my last name is {last}".format(last=last_name,first=first_name))

My first name is Durgesh and my last name is Soni

# Boolean

    # Boolean function in pyhton
    # Boolean vlaues are the two constant object true and False
    # In numerical contect they behave like integer 0 and 1
    # The built in function bool() can be used to cast any value to a Boolean.

In [5]:
print (True, False)

True False

In [98]:
type(True)

bool

In [99]:
bool()

False

In [100]:
my_str = 'Durgesh Soni'

In [101]:
print(my_str.isalpha())

False

In [102]:
#### NOTE: Most of boolean function starts with "is", we can get all boolean when we write "is" and press

In [103]:
# TWO of the most important boolean function which does not start with "is" are demonsatred below:\

print(my_str.startswith('D'))

# Remember here "D" which we have given is case sensitive

print(my_str.endswith("D"))

True
False

In [104]:
my_str.isalpha()

False

#  Lists

    #List is the data structure in python which are mutable, changeable, ordered sequence of element 
    #Each value or element in the list are called item.
    #It can contain any element in side it, i.e alphabetic, alnumeric, strings, i.e elements can be of different data type
    #List are defined by having values in squre bracket []

In [105]:
type([]) # used to get the type of square braket[]

list

In [106]:
lst_eg = list() # list( is the function used to create empty list)

In [14]:
lst_eg = ["IBM", "Syntel", "Atos", "TCS", "Capita", 230, 666, 987, 210] 
#srings which we have given in list should be in quotes single or double.


print(lst_eg)

['IBM', 'Syntel', 'Atos', 'TCS', 'Capita', 230, 666, 987, 210]

In [108]:
#there are different function that we can apply on string"

len(lst_eg)  # len function will give number of element in a list

9

# There are some inbuilt function in list which are demonstrated below
# 1.  Append

In [3]:
# append is used to insert a element to a list at the end 
lst_name = ['durgesh','Sumeet','Tanuj','Akash']
lst_name.append('Pankaj')
lst_name

['durgesh', 'Sumeet', 'Tanuj', 'Akash', 'Pankaj']

In [16]:
lst_name.append(['Wipro','L&T']) 
lst_name

# this kind of append will add a new list inside your existing list and your list will become nested list

#we will see this kind of extend but it will give different result i.e iit will not be a nested list

['durgesh',
 'Sumeet',
 'Infosys',
 'Infosys',
 'Tanuj',
 'Akash',
 'Pankaj',
 ['Wipro', 'L&T'],
 ['Wipro', 'L&T'],
 ['Wipro', 'L&T'],
 ['Wipro', 'L&T']]

#  2. Insert

In [10]:
# insert is used to insert a element to a list in a specific oreder/sequence

lst_name.insert(2,'Infosys')
lst_name

['durgesh',
 'Sumeet',
 'Infosys',
 'Infosys',
 'Tanuj',
 'Akash',
 'Pankaj',
 ['Wipro', 'L&T'],
 ['Wipro', 'L&T'],
 ['Wipro', 'L&T']]

In [15]:
print(lst_eg)

['IBM', 'Syntel', 'Atos', 'TCS', 'Capita', 230, 666, 987, 210]

#  3. Extend

In [118]:
# In extend if we treid to add element to a list it not be added as nested list, what  we saw in case of append
# Will create a new list and try to exceute it by execute function

list1 = [1,2,3,4,5,6,7]

list1

[1, 2, 3, 4, 5, 6, 7]

In [119]:
list1.extend([0,9])
list1

[1, 2, 3, 4, 5, 6, 7, 0, 9]

# Various operation that are performed on list
### 1. sum() -- This will sum all the numeric 
### 2. pop() --  This will remove the values from the list which is indicated by pointer
### 3. count() -- this will give the count of total occurnace of a desired element from the list
### 4. len() -- Calculates total length  of list
### 5. index() -- return the index of first occurance, start and end inndex are not necessary parameter
### 6. min() -- it gives the minimum value within the list
### 7. max() - it gives the maximum value within the list

In [1]:
lst =[27,23,89,87,90]
sum(lst)

#SUM is inbuilt funtion which will give you the ssum of values inside the list

316

In [22]:
durgesh=7
soni=4

lst_name=[durgesh,soni]
sum(lst_name)

#Inbilt function Sum will work on list which contain strings

11

In [30]:
lst_2 =[27,23,89,87,90]
lst_2.pop()
lst_2
#when we dont indicate anything in pop( then it will by default remove the last element from the list)

[27, 23, 89, 87]

In [31]:
lst_3 =[11,22,33,44,55,66,77]
lst_3.pop(2)
lst_3
#here it will remove the element wwhich is at the 2 position, we can see the output below

[11, 22, 44, 55, 66, 77]

In [9]:
lst_4=[1,1,2,2,3,3,4,5,6,7]
lst_4.count(1)

#Here we will  get the count of occurance of element which we have indicated

2

In [10]:
len(lst_4)

# Like the len function we have seen for string we can also get the total length of list i.e. the number element present in list

10

In [20]:
lst_5=[1,0,2,1,2,3,3,4,5,6,7]

lst_5.index(1,1,5)


# It will give the index of first occurance of  (value 1) starting from index 1 to 5

3

In [22]:
min(lst_5)

# this will give the minimum value present in lst_5

0

In [23]:
max(lst_5)

#this will give maximum value present in lst_5

7